<div class="row">
    <form [formGroup]="form">
        <div class="row my-3 justify-content-start">
            <div class="col-4">
                <label for="roomName" class="form-label">Room Name: </label>
            </div>
            <div class="col-8">
                <input formControlName="room_name" id="roomName" type="text" class="form-control form-control-sm"
                    placeholder="room name">
            </div>

            <div *ngIf="roomName.touched && roomName.errors" class="error-message">
                <p *ngIf="roomName.errors['required']"><em>Room name is required</em></p>
                <p *ngIf="roomName.errors['minlength']"><em>Room name shoud be atleast 6 characters long</em></p>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col">
            <button class="btn btn-primary" (click)="createRoom()" [disabled]="form.invalid">Register</button>
        </div>

    </div>
</div>