<div class="row justify-content-start">
    <div class="user-details row m-1" *ngIf="userDetails">
        <h4>Hey {{ userDetails.first_name }}!!</h4>
    </div>

    <div class="row">

        <div class="room-list col-8">
            <div class="row justify-content-start align-content-center">
                <div class="col">
                    <h4>My Rooms</h4>
                    
                </div>
                <div class="col">
                    <i class="bi bi-file-earmark-plus-fill" (click)="addRoomClick()" style="cursor: pointer;"></i>
                </div>
            </div>
            
            <app-list-room></app-list-room>
        </div>
    
        <div class="col-4">
            <router-outlet></router-outlet>
        </div>
    </div>
    

</div>